<div class="container">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Card</title>
  </head>

  <body>
      <h1>Payment Summary</h1>
      <h2>Total Amount: <%= humanized_money_with_symbol Money.new(@order.checkout_amount_cents, "JPY").exchange_to(@order.payment_currency) %></h2>
      <%unless @order.payment_currency == "jpy"%>
        <p>Amount in Yen: <%= humanized_money_with_symbol(@order.checkout_amount_cents) %></p>
      <% end %>
        <%# <div class="row py-4">
          <div class="col">
            <label for="name">Name</label>
            <input id="name" placeholder="Jenny Rosen" value="Jenny Rosen" required />
          </div>
        </div> %>

        <div class="row py-4">
          <div class="col">
            <form id="payment-form">
              <div id="card-element">
                <!-- Elements will create input elements here -->
              </div>
              <button id="submit" class="btn btn-secondary">Pay</button> 
            </form>
          </div>
        </div>

        <!-- We'll put the error messages in this element -->
        <div id="card-errors" role="alert"> </div>
        <%# <%= link_to "Pay", order_path(@order), id: "pay", class: "btn btn-secondary" %>


      </form>

      <div id="messages" role="alert" style="display: none;"></div>

      <div class="row py-4">
        <div class="col">
          <h4>Try a <a href="https://stripe.com/docs/testing#cards" target="_blank">test card</a>:</h4>
          <div><code>4242424242424242</code> (Visa)</div>
          <div><code>5555555555554444</code> (Mastercard)</div>
          <div><code>4000002500003155</code> (Requires <a href="https://www.youtube.com/watch?v=2kc-FjU2-mY" target="_blank">3DSecure</a>)
        </div>
      </div>
  </body>

  <script>
      // Load the publishable key from the server. The publishable key
      // is set in your .env file.
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>', {
         betas: ['payment_element_beta_1']
      });
      const elements = stripe.elements();
      // var cs =  <%= @client_secret %>.json()
      // const {client_secret: clientSecret} = cs.json();
      const paymentElement = elements.create("payment", {clientSecret: '<%= @order.client_secret%>'});
      paymentElement.mount("#card-element");
      // const card = elements.create('card');
      // card.mount('#card-element');

      const form = document.getElementById('payment-form');

      form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const {error} = await stripe.confirmPayment({
          element: paymentElement,
          confirmParams: {
            return_url: "http://localhost:3000/orders/<%= @order.id %>/elements/elements_redirect",
          }
        });


        if (error) {
          // Show error to your customer (e.g., payment details incomplete)
          console.log(error.message);
          document.getElementById("card-errors").style.color = "red"
          document.getElementById('card-errors').innerText = error.message + " Please Contact our support or try other payment methods"

        } else {
          // Your customer will be redirected to your `return_url`. For some payment
          // methods like iDEAL, your customer will be redirected to an intermediate
          // site first to authorize the payment, then redirected to the `return_url`.
        }
      });


      // const paymentButton = document.getElementById('pay');
      // // When the form is submitted...
      // const form = document.getElementById('payment-form');
      // let submitted = false;

      // paymentButton.addEventListener('click', (event) => {
      //   event.preventDefault();
      //   if(submitted) { return; }
      //   submitted = true;
      //   form.querySelector('button').disabled = true;

      //   // const nameInput = document.querySelector('#name');

      //   // Confirm the card payment given the clientSecret
      //   // from the payment intent that was just created on
      //   // the server.
      //   stripe
      //     .confirmCardPayment(
      //     //   '<%= @order.client_secret %>', {
      //     //   payment_method: {
      //     //     card: card,
      //     //     // billing_details: {
      //     //     //   name: nameInput.value,
      //     //     // },
      //     //   },
      //     //   setup_future_usage: 'off_session'
      //     // }
      //     ).then(function(response) {
      //       if (response.error) {
      //         console.log(response.error);
      //         submitted = false;
      //         form.querySelector('button').disabled = false;
      //         return;
      //       } else if (response.paymentIntent && response.paymentIntent.status === 'succeeded') {
      //         order_id = <% @order.id %>
      //         //request = new Request(`elements_redirect`);
      //         window.location.href = "/orders/<%= @order.id %>/elements/elements_redirect"
      //       }
      //     })
      // });
  </script>
</div>
