<div class="container">
  <h1>Products</h1>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-6 col-md-4">
        <div class="card">
          <%= image_tag product.photo_url , class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.category.name %></p>
            <p>Amount: <%= humanized_money_with_symbol(product.price) %></p>
            <%= link_to "More details", product_path(product), class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>